{% load static %}






<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="">

        <title>My Blog</title>

    </head>


    <body>


        <h1 style="color:red;">Header 1</h1>
        <style>
            h2 {
                text-align: center;
                color: rgb(214, 252, 0);
                
            }


        </style>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>

        <div class="box-1">
            <h5>Header 6</h5>

            <p>
                

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
            nihil, eveniet aliquid culpa officia <a href="https://t.me/jasur_mavlonov02" target="_blank">Telegram account </a> aut! Impedit sit sunt quaerat, odit,
            tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
            quia.
            </p>
        </div>


        <br>
        <h2>Hello Guys</h2>

        <a href="https://www.google.com/" target="_blank">Google</a> <br>
        <br>

        <form method="get" >
           
            <label>Username:
                <input type="text"  name="username">
            </label>
            <br>
            <label>Password:
                <input type="password" name="password">
            </label>


            <input type="submit" placeholder="">
        </form>
        <!-- <label> Gender:
        <input type="radio" >
        <input type="radio" >
        </label> -->




        <ol>
            <li>Apple</li>
            <li>Orannge</li>
            <li>Cherry</li>
            <li>Banana</li>
            <li>Cucumber</li>
        
        </ol>



    </body>








</html>